@import "./reset";
@import "../css/font.css";

$mainColorFont: #8d81ac;
$minWidth:320px;
$maxWidth:1200px;

%fontFamilyLato{
  font-family: Lato,sans-serif;
}
%fontFamilyMontserrat{
  font-family: Montserrat,sans-serif;
}

.container{
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
}

.logo{
  display: flex;
  align-items: center;
  &__symbol{

  }
  &__slogan{
    color: $mainColorFont;
    font-size: 15px;
  }
}

@media screen and(min-width: 481px) and (max-width: 992px){

}
@media screen and (min-width: 993px){

}