@import "./reset";
@import "../css/font.css";

$mainColor: #8d81ac;
$minWidth:320px;
$maxWidth:1200px;

body{
  overflow-x: hidden;
}

%button{
  border-radius: 25px;
  border: none;
  outline: none;
  transition: color 0.3s linear;
  color: white;
  background-color: #8d81ac;
  &:hover{
    background-color: #fff;
    color: #8d81ac;
  }
}
%fontFamilyLato{
  font-family: Lato,sans-serif;
}
%fontFamilyMontserrat{
  font-family: Montserrat,sans-serif;
}

.container{
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.header{
  position: relative;
  padding: 31px 10px;
  background-color: #27262a;
  display: grid;
  grid-template-areas: 'logo button burger';
  &__logo{
    grid-area: logo;
  }
  &__img{
    width: 43px;
    height: 41px;
    display: inline-block;
    background-image: url('../img/Logo.png');
    &:hover{
      background-image: url('../img/logo-hover.png');
    }
  }
  &__slogan{
    display: none;
    cursor: pointer;
  }
  &__button{
    justify-self: center;
    width: 117px;
    height: 37px;
    grid-area: button;
    font-size: 15px;
    font-weight: bold;
    @extend %button;
  }

}
.burger{
  grid-area: burger;
  justify-self: end;
  height: 41px;
  width: 41px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  &__touch{
    cursor: pointer;
    opacity: 0;
    width: inherit;
    height: inherit;
    z-index: 1;
    margin: 0;
    position: absolute;

  }
  &__item{
    margin-right: 5px;
    width: 26px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px ;
    transition: width 0.4s linear;
    &:first-of-type{
      width: 20px;
    }
  }
  & input:hover ~ &__item:first-of-type/*,input:checked ~ &__item:first-of-type*/{
    width: 26px;
  }
  & input:hover ~ &__item:last-of-type/*, input:checked ~ &__item:last-of-type*/{
    width: 20px;
  }
  & input:hover ~ .menu/*, input:checked ~ .menu*/ {
    left: 50%;
  }
}
.menu{
  transition: left 0.4s linear;
  position: absolute;
  top: 100%;
  left: 150%;
  background-color: #333333;
  width: 290px;
  transform: translate(-50%, 0);
  z-index: 1;
  &__item{
    display: block;
    color: white;
    @extend %fontFamilyMontserrat;
    font-size: 26px;
    line-height: 3.35;
    border-bottom: 2px solid #3b3b3b;
    padding-left: 33px;
    position: relative;
    &:hover{
      color:white;
    }
    &:hover:before{
      content: "";
      width: 8px;
      height: 53px;
      background-color: $mainColor;
      position: absolute;
      top: 53%;
      left: 0;
      transform: translate(0, -50%);
    }

  }
}
.home{
  position: relative;
  height: 616px;
  background:url("../img/header.png") center;
  background-size: cover;
  text-align: center;
  @extend %fontFamilyMontserrat;
  padding: 37px 0 0 0 ;
  margin-bottom: 80px;
  &__title{
    color: white;
    font-size: 48px;
    font-weight: bold;
  }

  &__slogan{
    font-size: 19px;
    color: $mainColor;
    line-height: 1.9;
    padding-top: 11px;
  }

  &__text{
    font-size: 17px;
    color: #848e97;
    line-height: 2;
  }
  &__button{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: 290px;
    height: 45px;
    bottom: 0;
    transform: translate(-50%, 50%);
    @extend %button;
    &:after{
      position:absolute ;
      content: "Unlimited 30-Days Trial Period";
      @extend %fontFamilyMontserrat;
      font-size: 14px;
      font-weight: 400;
      color: #848e97;
      top: 125%;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;
    }
    }
}
.people{
  background: url("../img/testmonials-bg.png") no-repeat ;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 60px 10px 60px 10px;
  &__slogan{
    @extend %fontFamilyMontserrat;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
  }
  &__text{
    display: none;
  }
  &__line{
    display: inline-block;
    width: 280px;
    height: 2px;
    background-color: #645766;
    margin-top: 43px;
  }
}
.card{
  &__img{
    margin: 35px 0 20px 0;
  }
  &__text{
    color: #ffffff;
    @extend %fontFamilyLato;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    hyphens: auto;
    line-height: 1.6;
  }
}
@media screen and(min-width: 481px){
  .header{
    padding: 21px 10px;
    grid-template-areas: 'logo button'
                          'burger burger';

    &__button{
      font-size: 16px;
      justify-self: end;
      width: 145px;
      height: 40px;
    }
    &__logo{
      display: flex;
      align-items: center;
    }
    &__slogan{
      display: inline-block;
      font-size: 24px;
      font-family: Lato,sans-serif;
      font-weight: bold;
      color: #8d81ac;
      margin-left: 17px;
      &:hover{
        color: #ffffff;
      }
    }
  }
  .burger{
    height: 40px;
    width: auto;
    justify-self: center;
    background: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__touch,  &__item{
      display: none;
    }

  }
  .menu{
    position: static;
    transform: translate(0, 0);
    display: flex;
    justify-content: space-between;
    transition: none;
    background:none;
    min-width: 450px;
    &__item{
      display: inline-block;
      line-height: 1;
      border: none;
      padding-left: 0;
      position: static;
      font-size: 16px;
      font-weight: bold;
      color: #8d81ac;
      &:hover:before{
        content: none;
      }
    }
  }
  .home{
    height: 680px;
    &__title{
      font-size: 72px;
    }
    &__slogan{
      font-size: 24px;
    }
    &__button{
      width: 390px;
      height: 65px;
      font-size: 21px;
    }
  }
  .people{
    display: grid;
    grid-column-gap: 10px;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);

   &__slogan, &__text, &__line{
      grid-column-start:1;
      grid-column-end:3;
    }
    &__slogan{
      font-size: 42px;
    }
    &__text{
      width: 670px;
      display: inline-block;
      margin-top: 58px;
      font-family: Lato,sans-serif;
      font-size: 14px;
      color:#645766;
    }
    &__line{
      margin-top: 15px;
      width: 699px;
    }
  }
  .card{
    &__img{
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-10%);

      &-minwidth{
        position: relative;
        min-height: 154px;
      }
    }
  }
  @media screen and (min-width: 993px){
    .header{
      grid-template-columns: 150px 1fr 170px ;
      grid-template-areas: 'logo burger button';
    }
    .burger{
      justify-self: end;
      align-items: center;
      justify-content: flex-end;
    }
    .home{
      height: 700px;
    }
    .people{
      grid-template-columns: repeat(3,1fr);
      &__slogan, &__text, &__line{
        grid-column-start:1;
        grid-column-end:4;
      }
      &__slogan{
        font-size: 48px;
      }
      &__text{
        width: 860px;
      }
      &__line{
        width: 780px;
      }
    }
  }
}
